.nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  
  .links a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
    cursor: pointer;
  }
  
  .links a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
  }
  
  .links a:hover::after {
    width: 70%;
  }
  
  .btn_contatos {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    list-style: none;
    margin-left: 30rem;
  }
  
  .btn_contatos:hover {
    background-color: #1e40af;
  }
  
  .btn:hover {
    background-color: #1e40af;
  }
  
  
  a {
    text-decoration: none;
  }

/* responsivo */

@media (max-width: 600px) {
  .nav .nav-links {
      display: flex;
      justify-content: center;
      gap: 23px;
      margin-left: 1rem;
      margin-top: -1rem;
  }

  .nav .nav-links .links {
      font-size: .7rem;
  }

  .nav .btn_contatos {
      display: none;
  } 
}
